<div class="row w-75 mx-auto justify-content-center shadow rounded">
    <div class="col my-auto text-truncate">
        {{sushi_name}}
    </div>
    {{#if devoured}}
    <div class="col">
        <button class="pill rounded change-devoured" data-id=" {{id}}" data-newdevour="{{devoured}}">
            Devour
        </button>
    </div>
    {{/if}}
</div>